<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css" type="text/css">
  <link rel="stylesheet" href="/css/order.css" type="text/css">
  <link rel="stylesheet" href="/css/header.css" type="text/css">
  <link rel="stylesheet" href="/css/footer.css" type="text/css">
  <title>Order Details</title>
</head>

<body>

  <!--========== HEADER =========================-->
  <%- include ('partials/header') %>
    <!--========== HEADER =========================-->



    <!--========== MAIN =========================-->
    <main>
      <% let shipperRole='Shipper' %>
        <button
          onclick="window.location.href='<% if(role === shipperRole) {%>/shipper<% } else { %>/customerOrders<% } %>'">Back</button>
        <h1 class="center-content">Order Details</h1>
        <div class="container-data">
          <div class="pair">
            <div class="key bold">Order ID:</div>
            <div class="value">
              <%= order._id %>
            </div>
          </div>
          <div class="pair">
            <div class="key bold">Name:</div>
            <div class="value">
              <%= order.customerName %>
            </div>
          </div>
          <div class="pair">
            <div class="key bold">Address:</div>
            <div class="value">
              <%= order.address %>
            </div>
          </div>
          <div class="pair">
            <div class="key bold">Total price:</div>
            <div class="value">
              <%= order.totalPrice %>$
            </div>
          </div>
          <div class="pair">
            <div class="key bold">Status:</div>
            <div class="value">
              <%= order.state %>
            </div>
          </div>
        </div>

        <div class="key bold center-content font-size-20">Products:</div>
        <div class="container-products">
          <% for (let i=0; i < products.length; i++) { %>
            <div class="card">
              <img class="img margin-bottom-10" src="<%= products[i].image%>" alt="Image of product <%= products[i].name %>">
              <h3 class="two-line-heading">
                <%= products[i].name %>
              </h3>
              <p class="price">$<%= products[i].price %>
              </p>
            </div>
            <% } %>
        </div>

        <% if(role==='Shipper' ){ %>
          <div class="center-content padding-top-20 wrap">
            <form class="inline-block margin-bottom-10" method="POST" action="/orders/<%= order._id %>/cancel">
              <button class="red bold" type="submit">Cancel Order</button>
            </form>
            <form  class="inline-block" method="POST" action="/orders/<%= order._id %>/shipped">
              <button class="green bold" type="submit">Order Shipped</button>
            </form>
          </div>
          <% } %>
    </main>
    <!--========== MAIN =========================-->



    <!--========== FOOTER =========================-->
    <%- include ('partials/footer') %>
      <!--========== FOOTER =========================-->
</body>

</html>