<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="css/productPage.css">

    <title>Product page</title>

</head>

<body>
    <header>
        <h1>View Products</h1>
    </header>
    <main>

        <div class="search">
            <div class="filter">
                <label for="min-price">Minimum Price:</label>
                <input type="number" id="min-price" name="min-price">

                <label for="max-price">Maximum Price:</label>
                <input type="number" id="max-price" name="max-price">
            </div>
            <div class="search-container">
                <form action="/search">
                    <input type="text" placeholder="Search...">
                    <button type="submit">Search</button>
                </form>
            </div>
        </div>

        <div class="container">

            <% for (let i = 0; i < products.length; i++) { %>

            <div class="product">
                <img src="<%= products[i].image%>" alt="Product 1 <%= products[i].image%>">
                <h2><%= products[i].name %></h2>
                <p class="price">$<%= products[i].price %></p>
            <form action="http://localhost:4200/product/<%= products[i]._id%>" method="get">
                <button type="submit">View</a></button>
            </form>
            </div>
            <% } %>
        </div>
    </main>
    <footer>
        <p>&copy; 2023 My Store</p>
    </footer>
</body>
</html>