<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="..\css\productPage.css">

    <title>Product page</title>

</head>

<body>
    <header>
        <h1>View Products</h1>
    </header>
    <main>

        <div class="search">
            <form action="/products/filter" method="get" class="filter">
                <label for="min-price">Minimum Price:</label>
                <input type="number" id="min-price" name="min-price">

                <label for="max-price">Maximum Price:</label>
                <input type="number" id="max-price" name="max-price">

                <button type="submit">Filter</button>
            </form>
            <div class="search-container">
                <form action="/products/search" method="get">
                    <input type="text" id="search-word" name="search-word" placeholder="Search...">
                    <button type="submit">Search</button>
                </form>
            </div>
        </div>

        <div class="container">

            <% for (let i=0; i < products.length; i++) { %>

                <div class="product">
                    <img src="<%= products[i].image%>" alt="Product 1 <%= products[i].image%>">
                    <h2>
                        <%= products[i].name %>
                    </h2>
                    <p class="price">$<%= products[i].price %></p>

                    <button><a href="product/<%= products[i].id%>" type="button">View</a></button>
                </div>
                <% } %>
        </div>
    </main>
    <footer>
        <p>&copy; 2023 My Store</p>
    </footer>
</body>

</html>