<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="../css/productDetail.css">
    <link rel="stylesheet" href="../css/style.css">
	<link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">



    <title>Product detail</title>
</head>
<body>

	<%- include ('partials/header') %>

  
<main>
    <div class="container">
		<div class="product">
			<div class="image">
				<img src="<%= product.image %>" alt="Product Image <%= product.image%>">
			</div>
			<div class="details">
				<h1><%= product.name%></h1>
				<h2>$<%= product.price%></h2>
				<p><%= product.description%></p>
				<button class="add-to-cart" >Add to Cart</button>
			</div>
		</div>
	</div>
</main>
<%- include ('partials/footer') %>
<script>
	const addToCart = document.querySelector('button');
	addToCart.addEventListener('click', ()=>{
		var num = localStorage.length;
		localStorage.setItem(++num, '<%-JSON.stringify(product)%>');
		console.log(localStorage);
	})
</script>
</body>

</html>