<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css" type="text/css">
  <link rel="stylesheet" href="/css/header.css" type="text/css">
  <link rel="stylesheet" href="/css/footer.css" type="text/css">
  <link rel="stylesheet" href="/css/shipper.css" type="text/css">

  <title>Shipper Overview</title>
</head>

<body>
  <!--========== HEADER =========================-->
  <%- include ('partials/header') %>
    <!--========== HEADER =========================-->



    <!--========== MAIN =========================-->
    <main>
      <div id="overview-headline" class="center-text">
        <h1>Overview of all Orders</h1>
      </div>
      <div id="overview">
        <% orders.forEach((order)=> { %>

          <a class="order-card" href="/orders/<%= order._id %>">
            <div class="pair">
              <div class="key center-text">OrderID:</div>
              <div class="value center-text">
                <%= order._id %>
              </div>
            </div>
            <div class="pair">
              <div class="key center-text">Customer Name:</div>
              <div class="value center-text">
                <%= order.customerName %>
              </div>
            </div>
            <div class="pair">
              <div class="key center-text">Adress:</div>
              <div class="value center-text">
                <%= order.address %>
              </div>
            </div>
            <div class="pair">
              <div class="key center-text">Total price:</div>
              <div class="value center-text">
                <%= order.totalPrice %>$
              </div>
            </div>
          </a>

          <% }); %>
      </div>
    </main>
    <!--========== MAIN =========================-->



    <!--========== FOOTER =========================-->
    <%- include ('partials/footer') %>
      <!--========== FOOTER =========================-->


</body>

</html>